{% extends 'blog/base.html' %}

{% block title %}
  {{ title}}
{% endblock %}

{% block content %}

        <div class="alert alert-light"
            <h1>{{object.title}}</h1>
            <p>{{ object.text|safe }}</p>
            <div class="row">
                <div>
                    <img src="{{ object.avtor.profile.img.url}} " alt="{{ object.avtor }}" class="user_images">
                </div >
                <div class="mt-2">
                    <span class="text-multed">Публикация: {{object.date|date:"d F Yг, в H:i"}}</span>
                    <p><b>Автор: </b><a href="{% url 'user-news' object.avtor.avtor %}">{{ object.avtor.avtor }}</a></p>
                </div> 
            </div>       
        </div>
        {% if object.avtor == user %}
        <hr>
          <a href="{% url 'news-update' object.id %}" class="btn btn-info">Обновить статью</a>
          <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Удалить статью</a>
       {% endif %}
    </div>

{% endblock %}

{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>
<img src="https://itproger.com/img/courses/x1699009370.jpg.pagespeed.ic.5VqA4q768o.webp"
<p>Когда мы говорим про Питон, то здесь важно понимать один нюанс. Каждый у кого есть умение и желание может написать свою библиотеку для языка Питон. Из-за этой особенности и большого комьюнити программистов на сегодняшний день мы имеем ряд очень крутых и полноценных библиотек для построения программ на базе Питон. Сегодня вы можете строить как мобильные приложений, так и можно создавать компьютерные программы с красивым UI.</p>
<a href="https://itproger.com/course/python-gui">
  <button class="btn btn-warning">Посмотреть</button>
</a>

{% endblock %}

