{% extends 'blog/base.html' %}

{% block title %}
  Кабинет пользователя
{% endblock %}

{% block content %}
  <h1>Кабинет пользователя</h1>
  <div class="media text-muted pt-3">
    <img class="bd-placeholder-img mr-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">{{ user.username }}</strong>
      {% if user.email %}
        <b>Email:</b> {{ user.email }}
      {% endif %}
    </p>
  </div>
  <form method="post" enctype="multipart/form-data" class="form-register mt-4">
    {% csrf_token %}
    {{ updateUserForm.as_p }}
    {{ profileForm.as_p }}
    <button class="btn btn-outline-warning" type="submit">Обновить</button>
  </form>
{% endblock %}

{% block aside_block %}
    <h4 class="mt-5">Уроки Java 3D Game</h4>
    <img src="https://itproger.com/img/courses/x1715445829.jpg.pagespeed.ic.i275U3LWJb.webp"
    <p>Представляем курс по разработке 3Д игры на Джава. За курс вы создадите популярную игру Minecraft на Java без использования игровых движков. Игра будет содержать базовые концепции и будет выполнена в формате 3Д графики.</p>
    <a href="https://itproger.com/course/java-minecraft">
      <button class="btn btn-warning">Посмотреть</button>
    </a>
{% endblock %}